<%= form_for [user, item] do |f| %>
  <div class="form-group">            
    <form class="form-inline">
      <div class="col-xs-6">
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter to do" %>
      </div>
      <%= f.submit %>
    </form>
  </div>
<% end %>
