
    <%= form_for [user, item] do |f| %>
        <div class="form-group">
          <form class="form-inline">
            <%= f.text_field :name, class: 'form-control', placeholder: "Enter to do" %>
            <%= f.submit %>
        </form>
        </div>
    <% end %>
