<!DOCTYPE html>
<html>
<body>
<div id="home">
  <div class="overlay">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h1>Welcome to Blocitoff</h1>
        <h4>Blocitoff is a self destructing to-do list that will help keep you organized!</h4>

          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-custom btn-two' %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-custom btn-one' %>
      </div>
    </div>
  </div>
</div>
</body>
</html>

